.treeview {
	 float: left;
	 width: 100%;
	 /*background-color: #f5f5f5;*/
	 padding: 15px 30px 30px;
	 color: #aaa;
}
 .treeview ul {
	 float: left;
	 width: 100%;
	 position: relative;
}
 .treeview ul li {
	 float: left;
	 width: 100%;
	 border-left: 1px solid #444;
	 padding: 10px 0;
}
 .treeview ul li div {
	 float: left;
	 width: 100%;
	 font-family: Arial;
	 font-size: 15px;
	 /*color: #dfdfdf;*/
	 line-height: 1.5;
	 padding-left: 33px;
	 position: relative;
	 bottom: -20px;
}
 .treeview ul li div:before {
	 content: "";
	 width: 30px;
	 height: 1px;
	 background-color: #444;
	 position: absolute;
	 top: 50%;
	 bottom: 50%;
	 left: 0;
}
 .treeview ul li ul {

	 margin: 20px 0;
}
 .treeview ul li ul li {
	 border-left-color: #aaa;
	 margin-left: 50px;

	 width: calc(100% - 50px);
}
 .treeview ul li ul li div {
	 color: #aaa;
	 padding-left: 15px;
}
 .treeview ul li ul li div:before {
	 background-color: #aaa;
	 width: 10px;
}

.span1{
	flex: auto;
	
}
.span-custom{
	width:  12.7rem;;
}
.span-custom1{
	width: 12.7rem;
}
.span-custom2{
	width: 9.7rem;
}
.custom-hidden{
	display: none;
}
.custom-plus{
	cursor: pointer;
	font-size: 23px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* line-height: 18px; */
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cate-div{
	margin-top: 10px;
    background: #24262D;
    color: #fff;
    padding: 10px 10px 30px 45px;
}
#button-15{
	position: relative;
	width: 50px;
    border-radius: 68px;
    display: block;
}
#button-15 .knobs:before, #button-15 .knobs:after{position: absolute;top: 3px;width: 20px;height: 10px;color: #fff;font-size: 10px;font-weight: bold;text-align: center;line-height: 1;padding: 9px 4px;opacity: 1;border-radius: 50%;transform: scale(1);transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;}
#button-15 .knobs:before{content: '';left: 4px;background-color: #fff;box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.35), 0 10px 10px -5px rgba(0, 0, 0, 0.20);}
#button-15 .knobs:after{content: '';right: 4px;opacity: 0;transform: scale(4);background-color: #fff;}
#button-15 .checkbox:checked + .knobs:before{opacity: 0;transform: scale(4);}
#button-15 .checkbox:checked + .knobs:after{opacity: 1;transform: scale(1);}
#button-15 .checkbox:checked ~ .layer{background-color: #17c2bd;}
#button-15 .knobs, #button-15 .layer{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
#button-15 .button{position: relative;top: 50%;width: 65px;height: 36px;margin: -20px auto 0 auto;overflow: hidden;margin: 0;}
#button-15 .button.r,.button.r .layer{border-radius: 100px;}
#button-15 .checkbox{position: relative;
    width: 161px;
    height: 23px;
padding: 0 !important;margin: 0;opacity: 0;cursor: pointer;z-index: 3;}
#button-15 .knobs{z-index: 2;}
#button-15 .layer{cursor: pointer;width: 100%;background-color: #d3d3d3;transition: 0.3s ease all;z-index: 1;}